doctype html
html
  include includes/head.pug
  body

    h1 
      a(href="https://github.com/Project-Calavera/express-skeleton") Expressjs Skeleton ~ Project Calavera
    h2 It Works! \o/

    include includes/footer.pug
